<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <H3> Test envoi email par Donald Programmeur </H3>

    <strong> {{ date }}</strong>

    <strong> votre email {{ email }} </strong>

    <p style="color: red;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde cupiditate qui nisi. Magni in nisi voluptatum nam optio facilis vero consectetur quod deleniti, a qui libero ipsa odit sunt adipisci et officia obcaecati quos quas itaque quidem. Maiores, facilis voluptates velit labore incidunt
         ut exercitationem accusantium provident. Iure, reiciendis illum?</p>

    <em> donald programmeur email donaldtedom0@gmail.com</em>     
    
</body>
</html>