<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1> Bienvenu sur Email testing avec django </h1>

    {% if msg %}
        <h4> {{ msg }}</h4>
    {% endif %}    
    
    <form action="" method="post">
        {% csrf_token %}
        <label for="email"></label>
        <input id="email" name="email" type="email" placeholder="Enter your email address">
        <button type="submit"> Envoyez </button>
    </form>
</body>
</html>